    <!-- Footer -->

    <footer id="footer">
        <a href="https://facebook.com/mrsagarbiswas/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://instagram.com/mrsagarbiswas/" target="_blank" style="color: #cd486b;"><i
                class="fab fa-instagram"></i></a>
        <a href="https://linkedin.com/in/mrsagarbiswas/" target="_blank" style="color: #0077b5;"><i
                class="fab fa-linkedin-in"></i></a>
        <a href="https://twitter.com/mrsagarbiswas/" target="_blank" style="color: #00acee;"><i
                class="fab fa-twitter"></i></a>
        <p>© Copyright 2022</p>
        <p>- Developer <a href="https://sagarbiswas.co" target="_blank"><em>Sagar Biswas</em></a></p>
    </footer>

</body>

</html>